.layout {
  margin: 30px;
}
.user-wrapper {
  margin: auto;
  display: flex;
  margin-top: 20px;
}
.user-list {
  padding: 20px;
  max-width: 518px;
  margin: auto;
}

.user-firstName {
  margin-right: 10px;
}
.user-lastName {
  margin-right: 20px;
}
.user-email {
  margin-right: 20px;
}
.btn-edit {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(44, 168, 44);
  color: white;
  cursor: pointer;
  padding: 5px;
}

.btn-delete {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(168, 44, 44);
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
}

.btn-comeback {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(44, 63, 168);
  color: white;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  float: left;
}
